<div class="ui six doubling cards">
  <div class="card">
    <div class="image">
      <img class="ui small image" src="/assets/img/olga.jpg">
    </div>
    <div class="content">
      <div class="header">
        Olga
      </div>
      <div class="meta">
        głos
      </div>
    </div>
  </div>

  <div class="card">
    <div class="image">
      <img class="ui small image" src="/assets/img/niki.jpg">
    </div>
    <div class="content">
      <div class="header">
        Nikolay
      </div>
      <div class="meta">
        gitara basowa
      </div>
    </div>
  </div>

  <div class="card">
    <div class="image">
      <img class="ui small image" src="/assets/img/marcin.jpg">
    </div>
    <div class="content">
      <div class="header">
        Marcin
      </div>
      <div class="meta">
        gitary
      </div>
    </div>
  </div>

  <div class="card">
    <div class="image">
      <img class="ui small image" src="/assets/img/laurentiu.jpg">
    </div>
    <div class="content">
      <div class="header">
        Laurențiu
      </div>
      <div class="meta">
        cajon, darbuka
      </div>
    </div>
  </div>

  <div class="card">
    <div class="image">
      <img class="ui small image" src="/assets/img/adam.jpg">
    </div>
    <div class="content">
      <div class="header">
        Adam
      </div>
      <div class="meta">
        bouzuki, darbuka
      </div>
    </div>
  </div>

  <div class="card">
    <div class="image">
      <img class="ui small image" src="/assets/img/michal.jpg">
    </div>
    <div class="content">
      <div class="header">
        Michał
      </div>
      <div class="meta">
        klarnet, akordeon
      </div>
    </div>
  </div>
</div>
